<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Homepage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Applications Record</h1>
            </div>

            <form>
                <div class="float-right">
                    <input type="text" placeholder="Search.." name="search" value="{{search}}">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Company Name</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for application in applications %}
                        <tr>
                            <td>
                                <a href="{{application.description_link}}">
                                    {{application.job_title}}
                                </a>
                            </td>
                            <td>{{application.company_name}}</td>
                            <td>{{application.notes}}</td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
            <a href = "{% url 'applications:new' %}"><button class="btn btn-default">Add</button></a>
        </div> 
    </body>
</html>