<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Homepage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Applications Record</h1>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Company Name</th>
                        <th>Job Link</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for application in applications %}
                        <tr>
                            <td>
                                <a href="{% url 'applications:detail' application.id%}">
                                    {{application.job_title}}
                                </a>
                            </td>
                            <td>{{application.company_name}}</td>
                            <td>
                                <a href={{application.description_link}}>{{application.description_link}}</a>
                            </td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div> 
    </body>
</html>